<nav>
  <div class="nav-wrapper">
    <a href="#" class="large material-icons sun-logo">wb_sunny </a>
    <a class="nav-name">Metering system</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/dashboard" class="nav-name">Головна</a></li>
      <li><a href="/statistics" class="nav-name">Статистика</a></li>
      <li><a href="/contacts" class="nav-name">Контакти</a></li>
      <li><a href="/auth/logout" class="nav-name">Вийти</a></li>
    </ul>
  </div>
</nav>