<div id="map"></div>

<div class="footer">
  <div class="connect-us">
    <ul class="connect-icons">
      <li class="connect-us-li">
        <a href="#"><img src='/images/017-mobile-phone.png' /></a>
        <a class="connect-us-text">+38(098)615-62-26</a>
      </li>
      <li class="connect-us-li">
        <a href="#"><img src='/images/018-map.png' /></a>
        <a class="connect-us-text">вулиця Шевченка, 95, Чернігів, Чернігівська область, 14000</a>
      </li>
      <li class="connect-us-li">
        <a href="#"><img src='/images/021-email.png' /></a>
        <a class="connect-us-text">alenatovstukha@gmail.com</a>
      </li>
    </ul>
  </div>

  <div class="follow-us">
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/alona.tovstukha/"><img src='/images/facebook.png' /></a></li>
      <li><a href="https://www.linkedin.com/"><img src='/images/linkedin.png' /></a></li>
      <li><a href="https://www.instagram.com/alonatovstukha/"><img src='/images/instagram.png' /></a></li>
    </ul>
  </div>
</div>