<!-- FIRST PICTURE -->
<div class="first-picture">
  <div class="first-picture-cource">
    <img src="/images/1.jpg" width="1519px">
  </div>
</div>

<!-- FEATURES -->

<div class="features">

  <div class="feature-element-content">

    <div class="feature-column">
      <div class=" feature-element-name feature-element-name-design feature-element-name-capabilities">
        Можливості
      </div>

      <div class="feature-element-content-design feature-element-content-art-of-codding">
        <div> <span class="span-button">-</span> Враховує споживання енергоресурсів, шляхом збору даних з приладу обліку
          з фіксованим періодом контролю</div>
        <div class="feature-element-button feature-element-button-art-of-codding">Читати більше <span
            class="span-button"> -</span></div>
      </div>
    </div>

    <div class="feature-column">
      <div class="feature-element-name feature-element-name-design feature-element-name-functions">
        Функції
      </div>

      <div class="feature-element-content-design feature-element-content-clean-design">
        <div><span class="span-button">-</span> Збір даних</div>
        <div><span class="span-button">-</span> Накопичення даних</div>
        <div><span class="span-button">-</span> Зберігання даних</div>
        <div class="feature-element-button feature-element-button-clean-design">Читати більше <span class="span-button">
            -</span></div>
      </div>
    </div>

    <div class="feature-column">
      <div class=" feature-element-name feature-element-name-design feature-element-name-benefits">
        Переваги
      </div>

      <div class="feature-element-content-design feature-element-content-amazing-support">
        <div><span class="span-button">-</span> Можливість роботи з системою через веб-браузер</div>
        <div><span class="span-button">-</span> Візуалізація результатів ...</div>
        <div class="feature-element-button feature-element-button-amazing-support">Читати більше <span
            class="span-button"> -</span></div>
      </div>
    </div>

  </div>

</div>

<!-- SEPARATOR -->

<div class="separator"></div>

<!-- ABOUT -->

<div class="about">
  <div class="about-text">
    <div class="about-text-header">
      Про нас
    </div>
    <div class="about-text-text">
      Програмний комплекс використовується для побудови системи моніторингу та управління якістю електроенергії.
      Програмне забезпечення дозволяє здійснювати не тільки вимір, передачу та зберігання виміряних параметрів, але
      і дає широкий набір інструментів для аналізу отриманих даних.
    </div>
    <div class="about-text-text">
      Програмний комплекс призначений для автоматичного збору параметрів якості електроенергії, виміряних в точках
      контролю,
      і їх аналізу з метою визначення причин погіршення якості електроенергії та розробки заходів по його підтримці.
      Програмне забезпечення розроблено з використанням найсучасніших технологій, оптимізовано для зберігання і обробки
      великих обсягів інформації та легко розширюється.
    </div>
  </div>
  <div class="about-picture"></div>
</div>

<!-- SEPARATOR -->

<div class="separator"></div>