<div class="login-logo">
    <a href="#" class=" material-icons login-icon">wb_sunny </a>
    <a class="login-name">Metering system</a>
</div>

<div class="section">
    <a href="/auth/google" class="btn darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>